body {
    /* background-color: gray; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}

.avatar {
    width: 200px;
    height: 200 px;
}
.header__title {
    font-size: 29px;
}
.header__subtitle {
    color: rgb(161, 53, 26);
}

main {
    border: 1px solid darkred;
    text-align: center;
}

.skills ol {
    list-style: none;
}

.gallery__1 {
    margin: 0px 45px 0px 60px;
    background-size: auto;
    max-width: 400px;
    max-height: 300px;
}

.gallery__2 {
    margin: 0px -10px 0px 2px;
    max-width: 400px;
    max-height: 300px;
}



.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(100, 94, 94);
}

.video iframe{
    width: 40%;
    border: none;
}

.ed__table {
    border-collapse: collapse;
    width: 100%;

}

.ed__table th, 
.ed__table td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 32px;
}

.form {
    width: 100%;
    margin: 0 auto;
}
.form__control{
    width: 100%;
}
.control--text {
    width: 40%;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

footer {
    height: 100px;
    text-align: center;
    background-color: rgb(197, 197, 196);
}

.contacts__link {
    text-decoration: none;
    color: black;
}