body {
    /* background-color: gray; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}

.header__main {
    margin: -8px;
    height: 70px;
    border: 2px solid rgb(70, 73, 122);
    text-align: center;
    background-color: #2569d0ea;
}

.btn_main {
    margin-top: 20px;
    margin-right: 150px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px 0 black;
}

.btn_info {
    margin-right: 100px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px 0 black;
}

.btn_art {
    margin-left: 100px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px 0 black;
}

.btn_bio {
    margin-left: 150px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px 0 black;
}

.avatar {
    margin-top: 50px;
    width: 200px;
    height: 200 px;
}
.header__title {
    font-size: 29px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 1px 1px black, 4px 5px 3px gray;
}
.header__subtitle {
    color: rgb(9, 22, 146);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
}

main {
    border: 1px solid rgb(12, 10, 10);
    text-align: center;
}

.skills {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.skills ol {
    list-style: none;

}

    p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;

    text-shadow: 2px 7px 5px rgba(0, 0, 0,0.3),
                            0 -4px 10px rgba(255,255, 255, 0.3);
}

.gallery__1 {
    margin: 0px 45px 0px 60px;
    background-size: auto;
    max-width: 400px;
    max-height: 300px;
}

.gallery__2 {
    margin: 0px -10px 0px 2px;
    max-width: 400px;
    max-height: 300px;
}



.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(100, 94, 94);
}

.video iframe{
    width: 40%;
    border: none;
}

.ed__table {
    
    border-collapse: collapse;
    width: 100%;
}

.ed__table th, 
.ed__table td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 32px;
}

.form {
    width: 35%;
    margin: 0 auto;
}
.form__control{
    width: 100%;
}
.control--text {
    width: 40%;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

footer {
    margin-bottom: -8px;
    height: 70px;
    text-align: center;
    background-color: rgb(197, 197, 196);
}

.contacts__link {
    text-decoration: none;
    color: black;
}